.shared-text-input {
  display: grid;
  grid-template-columns: 75px 1fr 10px;
  padding: 3px 0;
  .asterix {
    text-align: right;
  }
}

.shared-date-input {
  display: grid;
  grid-template-columns: 170px 1fr 10px;
  padding: 3px 0;
  .asterix {
    text-align: right;
  }
}

.shared-number-input {
  display: grid;
  grid-template-columns: 170px 1fr 10px;
  padding: 3px 0;
  .asterix {
    text-align: right;
  }
}